<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
{% block content %}
{% endblock %}

<div class="jumbotron">
    <div class="container">
     <h>ajdnawkjdnawk jdnwadkj nawkdnwkd nawkjd bnawkd jbanwkd jnabwkd jbawk djbaw</h>
    </div>
</div>

  <div class="container">
{#    <img src="{% static 'mainApp/image/mercedes.png' %}" class="img-thumbnail">#}
    <hr>
    &copy; Все права защищены 2018
  </div>

</body>
</html>